/* Mentors/Mentees */

.mentors-mentees {
    background:
        url('../assets/dots_pattern.png'),
        linear-gradient(135deg, #ca53e9 0%, #3241ce 100%);
    color: var(--white);
    position: relative;
    background-repeat: repeat;
    background-position: center;
    min-height: 85vh;
    padding-bottom: 4.5rem;
}

.mentors-mentees .container {
    max-width: var(--container-max-width);
    min-height: 100rem;
    background-color: rgba(255, 255, 255, 0.52);
    padding: 0 3rem;
}

.buttons-container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 4.5rem 3rem;
    display: flex;
    gap: 2rem;
}

.button-wrapper button {
    background-image: linear-gradient(270deg, #c953e9 0%, #3842cf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
    border: none;
}
.button-wrapper {
    background-color: var(--white);
    padding: 1.25rem 1.875rem;
    border-radius: 2.5rem;
    display: inline-block;
    cursor: pointer;
}

.active {
    background-color: #ddd8ff1a;
    border: 1.5px solid white;
}

.active button {
    background-image: none;
    color: white;
}

.create-profile-container {
    padding: 1.625rem 0;
    background-color: #fdf5ff;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.create-profile-container button {
    background: linear-gradient(to right, #3341ce, #c853e8);
    color: var(--white);
    border: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 2.5rem;
    cursor: pointer;
}

#footer {
    margin-bottom: 7.8125rem;
}
/* Testimonials */

.testimonials {
    width: 100%;
    background: url('../assets/dots_pattern_for_white_bg.png');
    background-repeat: repeat;
    background-position: center;
    padding: 5.75rem 0;
}

.testimonials h2 {
    max-width: var(--container-max-width);
    font-size: 3.5rem;
    color: #481eb2;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 3rem;
    padding: 0 3rem;
}

.testimonials .container {
    max-width: var(--container-max-width);
    min-height: 100rem;
    background-color: rgba(131, 131, 131, 0.52);
    padding: 0 3rem;
}
.leave-footprint-container {
    padding: 1.625rem 0;
    background-color: #481eb2;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.leave-footprint-container button {
    background-image: linear-gradient(270deg, #c953e9 0%, #3842cf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
    border: none;
}

body.page-testimonials .footer {
    background-color: var(--white);
    color: #7849da;
}
